body {
    background-color: #FEFAEE;
    min-height: 100vh;
    display: flex;
    flex-direction: column;

}

main {
    margin-bottom: 50px;
}

footer {
    margin-top: auto;
    background-color: #BAE1FF;
}

.orange {
    background-color: #F27405
}

.yellow {
    background-color: #F2B705
}

.blue {
    background-color: #65AEFC
}

.blue-gray {
    background-color: #84A0D7
}

.blush {
    background-color: #EC957B
}

.green {
    background-color: #7FD79D
}

p,
h1,
h2,
h4,
.cta,
#id,
nav a {
    color: #000;
    text-decoration: none;
    margin: 2rem;
}

h3 {
    color: #496880;
    margin: 1rem;
}

.new {
    background-color: #D9D9D9;
    padding: 5px;
}

.location-content a,
.form__input,
.form__label,
textarea,
p {
    font-family: 'Mulish', sans-serif;
}

.location-content a,
.form__input,
.form__label,
textarea,
p,
h4 {
    font-size: 1.5rem;
}

h1,
h2,
h3,
h4,
.cta,
#navigation,
.bold {
    font-family: 'Audiowide', sans-serif;
}

h1,
h3,
.cta,
.news h2,
nav a {
    text-transform: uppercase;
}

h1,
.cta,
#navigation {
    font-size: 1.9rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0px;
    text-align: center;

}


.home h1 {
    font-family: 'Mulish', sans-serif;
    text-transform: none;

}

h2,
.home h1,
h3 {
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.material-symbols-outlined.red,
.red {
    color: #D92B04;

}

.exhibits-links {
    display: none;
}

.exhibits-details a,
.exhibits-details-2 a {
    text-decoration: underline;
    text-decoration-color: #D92B04;
    -webkit-text-decoration-color: #D92B04;
}

.exhibits-details a:hover,
.exhibits-details p:hover,
.exhibits-details-2 a:hover,
.exhibits-details-2 p:hover {
    text-decoration: underline;
    text-decoration-color: #800000;
    -webkit-text-decoration-color: #800000;
    color: #800000;
}



.top-logo {
    content: url("/pictures/logo/small\ color\ logo\ -\ no\ background.png");
}

/*navigation*/

nav a,
.cta {
    display: block;
    padding: 1rem;
    max-width: 24rem;
    margin: 1rem;
    text-align: center;
    border: 1px solid transparent;
}

/*box-shadow colour copied from w3schools.com*/
.cta {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.cta-small {
    display: block;
    max-width: 15rem;
    font-size: 1.5rem;
    padding: 1rem;
    margin: 1rem 0;
    text-align: center;
    text-transform: none;
    float: right;
}

.cta:hover {
    text-decoration: underline;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.2);
}





nav ul {
    padding: 0;
    list-style: none;
}

#hamburger-menu {
    display: none;
}

#hamburger-menu:checked~nav {
    display: block;

}

nav {
    margin-left: 0px;
    display: none;
    position: absolute;
    top: 80px;
    background-color: #FEFAEE;
    z-index: 1000;
    right: 0px;
}




/*home page*/
.welcome {
    background-image: url("/pictures/home/william-bout-264826.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    min-height: 70vh;
    position: relative;
    margin-bottom: 100px;
}

.welcome img {
    max-width: 18.125rem;
    max-height: 17.5rem;
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.home-cta {
    margin: auto;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1rem;
}

.home {
    padding: 2rem;
}



img {
    width: 100%;
    height: auto;
}

/*about ut*/


/*exhibits*/
.arrows {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.arrow-left,
.arrow-right {
    display: inline-block;
}

.arrow-left a,
.arrow-right a {
    color: #D92B04;
}

/*find us*/

.find-us,
.about-start {
    max-width: 49rem;
    margin: auto;
}

.about-start {
    padding: 4rem;
}

.location-container {
    display: flex;
    margin: 2rem;
}

.location-content {
    display: flex;
    flex-direction: column;
}

.location-content a:hover {
    color: #800000;
}

.material-symbols-outlined,
.material-icons {
    font-size: 2rem;
    margin-right: 1rem;

}

.location-content h4,
.location-content p {
    margin: 0;
}



/*join us*/

.children,
.teacher,
.researcher {
    padding: 1rem;
}

.teacher {
    background-color: #BAE1FF;
}

/*shadow color from w3schools.com*/
.join-us img {
    border-radius: 1rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/*donate*/

.form__input,
input[type=number] {
    background-color: white;
    color: black;
    border: 1px solid #eee;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: x-large;
    transition: .3s border-color;
    box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
}

.form__input:hover,
input[type=number]:hover {
    border: 1px solid #aaa
}

.form__input:focus,
input[type=number]:focus {
    border: 1px solid black;
    box-shadow: #aaa;
    outline: none
}

.donation a,
.contact a {
    float: right;
}

/*copied from w3schools.com how to hide arrows from number field*/

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

.donation span,
.contact span {
    font-size: 6rem;
    display: flex;
    justify-content: center;
}

.top-icon {
    font-size: 4rem;
    display: flex;
    justify-content: center;
    margin: 1rem;
}

/*contact*/

.contact {
    margin-top: 2rem;

}

.form__input,
.form__label {
    width: 100%;
}

textarea {
    resize: none;
    height: 120px;
}

/*footer*/

footer img {
    max-width: 40%;
    height: auto;
    width: auto;

}

.footer-logo-slogan h3 {
    font-size: 1.8rem;
    margin: 1rem 0;
}

.footer-logo-slogan {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;

}

.slogan p {
    font-size: 1.1rem;
}

.slogan a {
    color: #000;
    text-decoration: none;
    margin: 2rem;
}

@media (min-width: 400px) {

    footer img {
        max-width: 10rem;
        height: auto;
        width: auto;
    }
}

@media (min-width: 600px) {

    /*home page*/
    .new,
    .exhibits {
        display: grid;
        max-width: 90rem;
        margin: 50px auto;
        grid-gap: 10px;
        grid-template-columns: repeat(2, 1fr);


    }

    .new h2 {
        grid-column: -1/1;
    }

    .new-news h2,
    .new-news h4,
    .new-news p,
    .exhibits-details h2,
    .exhibits-details p {
        grid-column: 1;
        margin: 15px;
        display: flex;
        min-height: 5rem;
    }

    /*get involved*/

    .get-involved {
        max-width: 90rem;
        margin: 50px auto;
    }

    .get-involved-image-1,
    .get-involved-image-2 {
        float: left;
        width: 30%;
    }

    .get-involved-text {
        float: right;
        width: 70%;
    }


    /*donation*/
    .donation {
        max-width: 50rem;
        margin: auto;
        padding-top: 3rem;
    }

    /*contact*/
    .contact {
        max-width: 30rem;
        margin: auto;
        padding-top: 3rem;
    }

    /*footer*/

    .footer-logo-slogan {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin: auto;
        max-width: 80%;
    }

    .footer-logo-slogan h3 {
        font-size: 2rem;
    }

    .footer-logo-slogan p {
        margin: 5px;

    }

    .slogan p {
        font-size: 1.5rem;
    }

}




@media (min-width: 900px) {

    h1 {

        font-size: 2.81rem;

    }

    h2,
    .home h1,
    h3 {

        font-size: 1.87rem;

    }

    .home h1 {
        padding: 3.5rem 5.9rem 3.5rem 9.5rem;
    }

    .home-cta {
        display: none;
    }

    #navigation {
        font-size: 1.2rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        background-color: #BAE1FF;
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin: 0;
    }

    #navigation a {
        padding: 15px 15px;
    }

    #navigation .highlight-nav {
        box-shadow: inset #65AEFC 0px 0px 60px -12px;
        color: black;
    }

    .slogan a:hover,
    #navigation li:hover {
        text-decoration: underline;
    }



    .nav-bar {
        background-color: #BAE1FF;
    }

    nav a {
        padding: 0;
        margin: 0;
    }

    header {
        display: block;
        margin: 0;
    }

    .home {
        height: 14.375rem;
        width: 59.625rem;
        margin: auto;
        background: linear-gradient(180deg, #CDDDEA 0%, #65AEFC 100%);
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    }


    .top-logo {
        content: url("/pictures/logo/long\ color\ logo\ -\ no\ background.png")
    }

    .welcome img {
        display: none;

    }


    nav {
        display: block;
        position: static;
        top: 0px;
    }

    nav li {
        display: inline-block;
        padding: 0px;

    }

    header label {
        display: none;
    }



    /*about us*/
    .about-start {
        font-size: 2rem;
    }

    /*exhibits*/

    #about-grid {
        grid-gap: 69px;
    }

    .new,
    .exhibits,

    .about {
        display: grid;
        max-width: 90rem;
        margin: 50px auto;
        grid-gap: 10px;
        grid-template-columns: repeat(3, 1fr)
    }




    .exhibits-details {

        margin: 15px;
        display: flex;
        flex-direction: column;
        height: 100%;
        min-height: 150px;


    }

    .exhibits-links {
        float: left;
        max-width: 15%;
        margin-left: 2%;
        margin-top: 10%;
        display: block;
    }

    .exhibits-main {
        float: right;
        max-width: 50%;
        margin-right: 24%;
        margin-top: 4%;
    }

    .new {
        background-color: #FEFAEE;
    }

    .arrows {
        display: none;
    }

    /*join us*/

    .children,
    .teacher,
    .researcher {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-gap: 1rem;
        margin: 3rem auto;
        align-items: center;

    }

    .children h2,
    .teacher h2,
    .researcher h2 {
        grid-column: -1/1;
        text-align: center;
    }




    .children img,
    .researcher img {
        grid-row: 2/3;
        grid-column: 1/2;
        width: 200%;
        max-width: 530px;
        margin: 3rem;
        display: grid;
    }

    .teacher img {
        grid-row: 2/3;
        grid-column: 4/5;
        width: 180%;
        max-width: 470px;
        margin: 3rem;
        display: grid;
    }



    .children-text,
    .researcher-text {
        grid-column: 3/6;
        margin: 4rem;
        display: grid;
    }

    .teacher-text {
        grid-column: 1/4;
        margin: 4rem;
        display: grid;
    }

    /*footer*/

    .slogan h3 {
        font-size: 3rem;
    }

}

@media (min-width: 1800px) {

    .children,
    .teacher,
    .researcher {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-gap: 3rem;
        margin: 3rem auto;
        align-items: center;

    }

    .children h2,
    .teacher h2,
    .researcher h2 {
        grid-column: -1/1;
        text-align: center;
    }




    .children img,
    .researcher img {
        grid-row: 2/3;
        grid-column: 2/2;
        width: 100%;
    }

    .teacher img {
        grid-row: 2/3;
        grid-column: 4/5;
    }



    .children-text,
    .researcher-text {
        grid-column: 3/5;

    }

    .teacher-text {
        grid-column: 2/4;

    }
}