body{
    background-color: #FEFAEE;

}

.orange{
    background-color: #F27405
}
.yellow{
    background-color: #F2B705
}
.blue{
    background-color:#65AEFC
}
.blue-gray{
    background-color:#84A0D7
}
.blush{
    background-color: #EC957B
}
.green{
    background-color: #7FD79D
}

p,
h1,
h2,
h4,
.cta,
#id,
nav a{
    color: #000;
    text-decoration: none;
    margin: 2rem;
}

h3{
    color: #496880;
    margin: 1rem;
}

footer{
    background-color: #BAE1FF;
}

.news{
    background-color: #D9D9D9;
}

p{
    font-family: 'Mulish', sans-serif;
}

p,
h4{
    font-size: 1.5rem;
}

h1,
h2,
h3,
h4,
.cta,
#navigation,
.bold{
    font-family: 'Audiowide', sans-serif;
}

h1,
h3,
.cta,
.news h2,
nav a{
    text-transform: uppercase;
}

h1,
.cta,
#navigation
{
    font-size: 1.9rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}

.home h1{
    font-family: 'Mulish', sans-serif;
    text-transform:none;

}

h2,
.home h1,
h3
{
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.material-symbols-outlined.red,
.red{
    color: #D92B04;
   }

.exhibits a
{
    text-decoration: underline;
	text-decoration-color: #D92B04;
	-webkit-text-decoration-color: #D92B04;
}


.top-logo{
    content: url("/pictures/logo/small\ color\ logo\ -\ no\ background.png");
}

/*navigation*/

nav a,
.cta{
    display: block;
    padding: 1rem;
    max-width: 24rem;
    margin-bottom: 1.69rem;
    text-align: center;
}

nav ul {
    padding: 0;
    list-style: none;
  }

#hamburger-menu {
    display:none;
}

#hamburger-menu:checked ~ nav {
    display: block;

}

nav{
    margin-left: 0px;
    display: none;
    position: absolute;
    top: 60px;
    background-color: #FEFAEE;
    z-index: 1000;
    right: 0px;
}




/*home page*/
.welcome {
    background-image: url("/pictures/home/william-bout-264826.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center ;
    background-position-y: center;
    min-height: 70vh;
    position: relative;
}

.welcome img{
    max-width: 18.125rem;
    max-height: 17.5rem;
}

.home-cta{
    margin: auto;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1rem;
}



img{
    width: 100%;
}


@media (min-width: 600px){
    
}



@media (min-width: 900px){
h1,
.cta{

    font-size: 2.81rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}

h2,
.home h1,
h3{

    font-size: 1.87rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#navigation{
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    background-color: #BAE1FF;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0;
    padding: 15px;

}

.nav-bar{
    background-color: #BAE1FF;
}

nav a{
    padding: 0;
    margin: 0;
}

header{
    display:block;
    margin: 0;
}

.home{
    height: 14.375rem;
    width: 59.625rem;
    margin: auto;
    background: linear-gradient(180deg, #CDDDEA 0%, #65AEFC 100%);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}








    .top-logo{
        content: url("/pictures/logo/long\ color\ logo\ -\ no\ background.png")
    }

    .welcome img{
        display: none;
    
    }
    
    
    nav {
        display:block;
        position: static;
        top: 0px;
    }
    
    nav li{
        display: inline-block;
        padding: 0px;
        
    }
    
    header label{
        display: none;
    }
    
    #navigation .highlight-nav{
        padding-left: 0px;
        }
}
.new{
    display:grid;
    grid-template-columns: 1fr;
    max-width: 1000px;
    margin: 50px auto;
    grid-gap: 10px;
  }

.new{
    grid-template-columns: repeat(3, 1fr);

}

.new-news h2,
.new-news h4,
.new-news p{
    grid-column: 1;
    margin: 15px;
}

.new h2{
    grid-column: -1/1;
  }




