body{
    background-color: #FEFAEE;

}

.orange{
    background-color: #F27405
}
.yellow{
    background-color: #F2B705
}
.blue{
    background-color:#65AEFC
}
.blue-gray{
    background-color:#84A0D7
}
.blush{
    background-color: #EC957B
}
.green{
    background-color: #7FD79D
}

p,
h1,
h2,
h4,
.cta,
#id,
nav a{
    color: #000;
    text-decoration: none;
    margin: 2rem;
}

h3{
    color: #496880;
    margin: 1rem;
}

footer{
    background-color: #BAE1FF;
}

.news{
    background-color: #D9D9D9;
}

p{
    font-family: 'Mulish', sans-serif;
}

p,
h4{
    font-size: 1.5rem;
}

h1,
h2,
h3,
h4,
.cta,
#navigation,
.bold{
    font-family: 'Audiowide', sans-serif;
}

h1,
h3,
.cta,
.news h2,
nav a{
    text-transform: uppercase;
}

h1,
.cta,
#navigation{
    font-size: 2.8125rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}

.home h1{
    font-family: 'Mulish', sans-serif;
    text-transform:none;

}

h2,
.home h1,
h3{
    font-size: 1.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.material-symbols-outlined.red,
.red{
    color: #D92B04;
   }

.exhibits a
{
    text-decoration: underline;
	text-decoration-color: #D92B04;
	-webkit-text-decoration-color: #D92B04;
}


.top-logo{
    content: url("/pictures/logo/small\ color\ logo\ -\ no\ background.png");
}

/*navigation*/

nav a,
.cta{
    display: block;
    padding: 1rem;
    max-width: 24.125rem;
    margin-bottom: 1.69rem;
    text-align: center;
}

nav ul {
    padding: 0;
  }

#navigation .highlight-nav{
    color: #fff;
}


#hamburger-menu {
    display:none;
}

#hamburger-menu:checked ~ nav {
    display: block;

}

nav{
    margin-left: 25px;
    display: none;
    position: fixed;
    top: 45px;
    background-color: #FEFAEE;
    z-index: 1000;
    right: 0px;
}




/*home page*/
.welcome {
    background-image: url("/pictures/home/william-bout-264826.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center ;
    background-position-y: center;
    min-height: 70vh;
    position: relative;
}

.welcome img{
    max-width: 18.125rem;
    max-height: 17.5rem;
}

.home-cta{
    margin: auto;
}



img{
    width: 100%;
}

@media (min-width: 800px){
    .top-logo{
        content: url("/pictures/logo/long\ color\ logo\ -\ no\ background.png")
    }

    .welcome img{
        display: none;
    
    }

}



